<template name='applicationEdit'>
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-sm-4 col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
      <div class='sections-title'><h4>Sections</h4></div>
      <ul class="nav nav-sidebar">
        {{#each metaApplication.sections}}
          <li class='{{#if $eq property sectionProperty}}active{{/if}}'><a href="javascript:void(0)" class='section-label'>{{label}}</a></li>
        {{/each}}
      </ul>
      {{#with doc}}
        {{> buttonPreview}}
        {{> buttonPrint}}
        {{#if submitted}}
          <h3>Application Submitted at {{timeSubmitted}}</h3><br>
          <div class="alert alert-danger" role="alert">This application has been submitted and is no longer editable.</div>
        {{else}}
          {{> buttonSubmit}}
        {{/if}}
      {{/with}}
    </div>

    <div class="col-sm-8 col-md-9">
      <div class="visible-xs">
        <button type="button" class="btn btn-primary btn-xs offcanvas-button"><i class="glyphicon glyphicon-chevron-left"></i></button>
      </div>
      <h3>{{metaApplication.name}}</h3>
      {{#if sectionProperty}}
        Last saved: {{localTimeModified}}<br><br>
        {{#if sectionDescription}}
          {{{sectionDescription}}}<br>
        {{/if}}
        {{> quickForm collection='GeneralSupportApplications' autosave=true autosaveOnKeyup=true doc=doc fields=sectionProperty type='update' buttonContent=buttonContent trimStrings=false }}
      {{else}}
        <p>Select a section on the left (or choose “My Applications” from the navigation above if the sections aren’t visible).</p>
        <p>By default, the application will save your input automatically. To help alleviate possible data loss however, it's best to always click 'Save Changes' before moving to another section.</p>
      {{/if}}
    </div><!--/main-->
  </div><!--/row-->
</template>
