<template name='applicationEdit'>
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
      <ul class="nav nav-sidebar">
        <li><a href="#">Overview</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
      </ul>
    </div>

    <div class="col-sm-9 col-md-10 main">
      <div class="visible-xs">
        <button type="button" class="btn btn-primary btn-xs offcanvas-button"><i class="glyphicon glyphicon-chevron-left"></i></button>
      </div>
      <h1>Edit Application</h1>
    </div><!--/main-->
  </div><!--/row-->
</template>
