<template name='applicationEdit'>
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-sm-4 col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
      <div class='sections-title'><h4>Sections</h4></div>
      <ul class="nav nav-sidebar">
        {{#each metaApplication.sections}}
          <li class='{{#if $eq property sectionProperty}}active{{/if}}'><a href="#" class='section-label'>{{label}}</a></li>
        {{/each}}
      </ul>
    </div>

    <div class="col-sm-8 col-md-9 main">
      <div class="visible-xs">
        <button type="button" class="btn btn-primary btn-xs offcanvas-button"><i class="glyphicon glyphicon-chevron-left"></i></button>
      </div>
      <h1>{{metaApplication.name}}</h1>
      {{#if sectionProperty}}
        {{> quickForm collection='GeneralSupportApplications' autosave=true autosaveOnKeyup=true doc=doc fields=sectionProperty type='update' buttonContent=false trimStrings=false}}
      {{else}}
        <p>Select a section on the left (use the menu button above if it's not visible)</p>
        <p>The application will save your input automatically.</p>
      {{/if}}
    </div><!--/main-->
  </div><!--/row-->
</template>
