<template name='applicationListItem'>
  <div class='jumbotron'>
    <span class='h4'>{{name}}</span><br>
    Deadline <b>{{> dateUTC value=deadlineDate}}</b><br>
    {{#if userApplication}}
      <a href="{{pathFor route='applicationEdit' data=userApplication}}"><button class='btn btn-info'>Open</button></a>
      {{#with userApplication}}
        {{> buttonPreview}}
        {{> buttonPrint}}
        {{#if submitted}}
          <h3>Application Submitted at {{timeSubmitted}}</h3>
        {{else}}
          {{> buttonSubmit}}
        {{/if}}
      {{/with}}
    {{else}}
      <button class='btn btn-primary create-application'>Create</button>
    {{/if}}
  </div>
</template>
