<template name='admin'>
  <h3>Browse Applications</h3>
  {{#if applications}}
    {{#each applications}}
      {{> applicationAdminListItem}}
    {{/each}}
  {{else}}
    [ there are zero applications ]
  {{/if}}
  <hr>
  {{#if isInRole 'superadmin'}}
    <h3>Delete All Applications (danger zone!)</h3>
    <button class='btn btn-danger' data-toggle="modal" data-target="#deleteAppsModal">Delete All Applications</button>

    <!-- Modal -->
    <div class="modal fade" id="deleteAppsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Delete All Applications</h4>
          </div>
          <div class="modal-body">
            WARNING! This action is irrevocable and will delete all applications from the system forever. Are you sure?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger delete-all-apps" data-dismiss="modal">Delete Forever</button>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</template>
