<template name='footer'>
  <footer>
    <div class="footer-elements">
      <div id="contact">
        <h4>Location</h4>
        <p>110 North Main St., Suite 165<br>Dayton OH 45402</p>
        <p>Phone: (937) 222-ARTS (2787)<br>Fax: (937) 222-2786</p>
        <p><a href="http://cultureworks.org/contact-us/" class="simple-button-link" target="blank"><span>Contact Us</span></a></p>
      </div>
      <div id="social">
        <h4>Follow Us</h4>
        <ul>
          <li><a href="https://twitter.com/CultureWorksDYT" class="twitter" target="blank">Twitter</a></li>
          <li><a href="https://www.facebook.com/CultureWorksDayton" class="facebook" target="blank">Facebook</a></li>
          <li><a href="https://plus.google.com/101799079819370039541/posts" class="googleplus" target="blank">Google Plus</a></li>
          <li><a href="mailto:staff@cultureworks.org" class="email">Email</a></li>
          <li><a href="https://www.youtube.com/user/CultureWorksDYT" class="youtube" target="blank">Youtube</a></li>
          <li><a href="http://instagram.com/cultureworksDYT" class="instagram" target="blank">Instagram</a></li>
          <li><a href="https://www.linkedin.com/company/culture-works-dayton" class="linkedin" target="blank">LinkedIn</a></li>
        </ul>
      </div>
      <div id="support">
        <h4>Support Provided By</h4>
        <a href="http://www.oac.state.oh.us/" target="blank"><img src="img/Ohio-Arts-Council-Logo.gif" alt="Ohio Arts Council Logo"></a>
      </div>
      <div id="tweets">
        <h4>Latest Tweets</h4>
        <a class="twitter-timeline" href="https://twitter.com/CultureWorksDYT" data-widget-id="567105226524884993">Tweets by @CultureWorksDYT</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; 2015 Culture Works All Rights Reserved.</p>
    </div>
  </footer>
</template>
