<template name='header'>
  <header>
    <div class="logo-area"><a href="/" id="logo">
      <img class="logo" src="/img/culture-works-logo.png" alt="Culture Works Logo">
    </a></div>
      <nav>
        <ul>
            {{#if currentUser}}
              <li class='{{isActiveRoute regex="myApplications"}}'><a href='{{pathFor "myApplications"}}'>My Applications</a></li>
              <li class='logout'><a href='{{pathFor "atSignIn"}}'>Logout</a></li>
            {{else}}
              <li class='{{isActiveRoute regex="atSignIn"}}'><a href='{{pathFor "atSignIn"}}'>Sign In</a></li>
            {{/if}}
        </ul>
        <div class="nav-inner"></div>
        <div class="nav-bottom"></div>
       </nav>
  </header>
</template>
