<template name='header'>
  <header>
    <div class="logo-area"><a href="/" id="logo">
      <img class="logo" src="/img/culture-works-logo.png" alt="Culture Works Logo">
    </a></div>
      <nav style={{navStyle}}>
        <ul>
            {{#if currentUser}}
              {{#if isInRole 'admin'}}
                <li class='{{isActiveRoute regex="admin"}}'><a href='{{pathFor "admin"}}'>Admin</a></li>
              {{else}}
                {{#if isInRole 'panelist'}}
                  <li class='{{isActiveRoute regex="reviewApplications"}}'><a href='{{pathFor "reviewApplications"}}'>Review Applications</a></li>
                {{else}}
                  <li class='{{isActiveRoute regex="myApplications"}}'><a href='{{pathFor "myApplications"}}'>My Applications</a></li>
                {{/if}}
              {{/if}}
              <li class='logout'><a href='{{pathFor "atSignIn"}}'>Logout</a></li>
            {{/if}}
        </ul>
        <div class="nav-inner"></div>
        <div class="nav-bottom"></div>
       </nav>
  </header>
</template>
